.popup__save-button{
  max-width:358px;
  min-height: 50px;
  padding:0;
  margin:48px 36px 0 36px;
  background-color: black;
  color:white;
  font-family: Inter, Arial, sans-serif;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.popup__save-button:hover{
  opacity: 0.8;
}
